*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

img{
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  }

.container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.form__title{
  text-align: center;
}

.form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form__label{
  display: block;
  margin-bottom: 20px;
}


.form__span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1.4px solid #000000;
  border-radius: 2px;
}

.form__checkbox{
  padding: 0.5px;
}

.form__checkbox:checked  ~ .form__span1{
  position: relative;
  background-image: url("../images/table-tennis.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox:checked  ~ .form__span2{
  position: relative;
  background-image: url("../images/basketball-ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox:checked  ~ .form__span3{
  position: relative;
  background-image: url("../images/volleyball-ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox:checked  ~ .form__span4{
  position: relative;
  background-image: url("../images/hockey-puck.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox:checked  ~ .form__span5{
  position: relative;
  background-image: url("../images/hockey-puck.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox1:disabled ~ .form__span5{
  opacity: 0.25;
}

.form__text5{
  display: inline-block;
  color: #c0c0c0;
}